# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
*.dll
*.pdb
*.exe
*.cache
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# .NET Secrets & config
appsettings.Development.json
appsettings.Production.json
secrets.json

# Angular / Node
node_modules/
dist/
tmp/
/out-tsc
bazel-out
/test-results
*.log
.npm
.yarn

# Editors
.editorconfig

# User Uploads
backend/WellaLms.Api/wwwroot/uploads/**
!backend/WellaLms.Api/wwwroot/uploads/.gitkeep
